<h1>Convert <%= params.fetch("code1") %>
</h1>

  Go <a href="/">
        back</a>.


<ul>
  <% @symbols.each do |country, code| %>
    <li>
      <a href="/<%=@code1%>/<%=country%>">
        Convert 1 <%= @code1 %> to <%= country %> ... 
      </a>
    </li>
  <% end %>
</ul>
